    @font-face { font-family: "wendylatino"; src: url(fontes/wendylatino.ttf) format(truetype); }   
    @font-face { font-family: "lunnaymf1"; src: url(fontes/lunnaymf1.ttf) format(truetype); }
    @font-face { font-family: "lunnaycpt1"; src: url(fontes/lunnaycpt1.ttf) format(truetype); }
    @font-face { font-family: "lunnaycpt2"; src: url(fontes/lunnaycpt2.ttf) format(truetype); }
    @font-face { font-family: "lunnaypxld"; src: url(fontes/lunnaypxld.ttf) format(truetype); }
    @font-face { font-family: "lunnaypxld_wide"; src: url(fontes/lunnaypxld_wide.ttf) format(truetype); }
    @font-face { font-family: "lunnaymf2tiny"; src: url(fontes/lunnaymf2tiny.ttf) format(truetype); }

    html {background-color: #000000; cursor: url('cursores/setinha.png'), auto;}

    .language {cursor: url('cursores/pontano.png'), auto; padding: 10px;}

    .titlepage {
        background-color: #008080;
        position: fixed;
        margin: auto auto auto auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0; right: 0; left: 0;
        padding: 20px;
        width: 1040px;
        height: 80px;
        z-index: 1;
    }
    .logo{padding: 20px; cursor: url('cursores/pontano.png'), auto;}
    .content{
        transform: translateY(105px);
        padding-left: 40px;
        padding-right: 40px;
        width: 1000px;
        margin: auto auto auto auto;
        background-color: #008080;}

    h1 {
        font-family: "lunnaymf1";
        font-size: 0.9em;
        color: #ffffff;
        text-shadow:
        -2px 2px 0 #000,
        2px 2px 0 #000;
        border-bottom: 2px solid #008b8b;
        background: linear-gradient(to right, #008080 , #008b8b);
    }
    h2 {
        font-family: "lunnaypxld_wide";
        text-transform: uppercase;
        font-size: 1.2em;
        color: #ffffff;
        text-shadow:
        0px 1.5px 0 #000000,
        -1.5px 1.5px 0 #000000,
        1.5px 1.5px 0 #000000;
    }
    h3 {
        font-family: "wendylatino";
        font-size: 0.8em;
        color: #ffffff;
        text-shadow: 2px 2px black;
    }
    #backvideo {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
    }
    p {
        font-family: "lunnaycpt1";
        font-size: 0.9em;
        color: #ffffff;
        line-height: 1.3em;
        text-shadow:
        0px 1.5px 0 #000000,
        -1.5px 1.5px 0 #000000,
        1.5px 1.5px 0 #000000;
    }

    p b { font-weight: bold; color: #ffffff; }
    p mark { color: white; background-color: #848484; }

    .button:hover { background-image: url(content/selectbar.svg); cursor: url('cursores/nop.png'), auto; }
    .button:active { background: #008b8b; mix-blend-mode: darken; }

    .pics{
        width: 1500px;
        margin: 40px;
        background-image: linear-gradient(to right,#00000000, #008080, #00000000);
        display: flex;
        flex-wrap: wrap;
        place-self: center;
        justify-content: center;
    }
    .pic_frame{
        transition-duration: 0.3s;
        height: 350px;
        border-top: 4px solid white;
        border-left: 4px solid white;
        border-bottom: 4px solid #848484;
        border-right: 4px solid #848484;
        margin: 8px;
        filter: brightness(90%);
        cursor: url('cursores/lupa.png'), auto;
        
        background-position: center;
        background-size: cover;
    }
    .pic_frame:hover{
        transition-duration: 0.1s;
        transform: scale(1.02, 1.02);
        filter: brightness(100%);
    }
    hr{
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        border-left: 2px solid #000000;
        border-right: 2px solid #000000;
        border-bottom: 2px solid #000000;
    }
    .textinfo1 {display: flex; align-items: flex-end; flex-direction: column-reverse; text-wrap: nowrap;}
    .textinfo2 {background-color: #00000060; font-size: 0.8em; position: absolute; z-index: 1; padding: 5px; text-align: end;}
    .footer{width: 100%; height: 200px; background-color: #131313; transform: translateY(200px);} 